section#view-3 {
	width: 100%;
	min-height: 100vh;
	background: #0066cc;
	border-top: 1px solid transparent;
	box-sizing: border-box;
	padding: 2rem;
	top: 0;
	left: 0;





	//position: absolute;
	//z-index: 0;


	//animation-name: view_load;
	//animation-fill-mode: forwards;
	//animation-duration: 1s;
	//animation-delay: 5s;

	div.wrapper {
		display: grid;
		grid-template-columns: 13fr 7fr;
		grid-column-gap: 2rem;

		div.column {
			h2 {
				margin: 0 0 10px;
				text-align: center;
				//font-size: 1.6em;
				width: 100%;
				color: white;
				text-shadow:
					   -1px -1px 0 #000,
					    1px -1px 0 #000,
					    -1px 1px 0 #000,
					     1px 1px 0 #000;
			}

			&.main {
				div.enemy-container {
					user-select: none;
					position: relative;
					width: 100%;

					table {
						background: white;
						border-collapse: collapse;
						table-layout: fixed;
						//width: calc(65vw - 4rem);
						//height: calc(65vw - 4rem);
						position: absolute;
						width: 100%;
						height: 100%;

						tr {
							th, td {
								border: 1px solid black;
							}
						}
					}

					&:after {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}

				div.current-action {

				}
			}

			&.sidebar {
				div.player-container {
					user-select: none;
					position: relative;
					width: 100%;
					
					table {
						background: white;
						border-collapse: collapse;
						table-layout: fixed;
						//width: calc(35vw - 3rem);
						//height: calc(35vw - 3rem);
						position: absolute;
						width: 100%;
						height: 100%;


						tr {
							th, td {
								border: 1px solid black;
							}
						}
					}

					&:after {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}

				div.past-actions {
					div {
						span {
							&.time {

							}

							&.message {

							}
						}
					}
				}
			}
		}
	}
}

@mixin view-3__desktop(){
	
}

@mixin view-3__tablet(){
	
}

@mixin view-3__phone(){
	
}