section#view-3 {
	width: 100%;
	min-height: 100vh;
	background: #0066cc;
	border-top: 1px solid transparent;
	box-sizing: border-box;
	padding: 2rem;
	top: 0;
	left: 0;




	//position: absolute;
	//z-index: 0;


	//animation-name: view_load;
	//animation-fill-mode: forwards;
	//animation-duration: 1s;
	//animation-delay: 5s;

	div.wrapper {
		display: grid;
		grid-template-columns: 13fr 7fr;
		grid-column-gap: 2rem;

		div.column {
			h2 {
				margin: 0 0 10px;
				text-align: center;
				//font-size: 1.6em;
				width: 100%;
				color: white;
				text-shadow:
					   -1px -1px 0 #000,
					    1px -1px 0 #000,
					    -1px 1px 0 #000,
					     1px 1px 0 #000;
			}

			&.main {
				div.enemy-container {
					user-select: none;
					position: relative;
					width: 100%;

					div.game_grid {
						width: 100%;
						height: 100%;
						display: grid;
						grid-gap: 1px;
						background: black;
						position: absolute;

						div {
							display: flex;
							justify-content: center;
							align-items: center;
							background: white;
							overflow: hidden;

							&.grid_guide {

							}

							&.grid_square {

							}
						}

						&.size-5 {
							grid-template-columns: repeat(6, 1fr);
						}

						&.size-6 {
							grid-template-columns: repeat(7, 1fr);
						}

						&.size-7 {
							grid-template-columns: repeat(8, 1fr);
						}

						&.size-8 {
							grid-template-columns: repeat(9, 1fr);
						}

						&.size-9 {
							grid-template-columns: repeat(10, 1fr);
						}

						&.size-10 {
							grid-template-columns: repeat(11, 1fr);
						}
					}

					&:after {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}

				div.current-action {

				}
			}

			&.sidebar {
				div.player-container {
					user-select: none;
					position: relative;
					width: 100%;
					
					div.game_grid {
						width: 100%;
						height: 100%;
						display: grid;
						grid-gap: 1px;
						background: black;
						position: absolute;

						div {
							display: flex;
							justify-content: center;
							align-items: center;
							background: white;
							overflow: hidden;

							&.grid_guide {

							}

							&.grid_square {

							}
						}

						&.size-5 {
							grid-template-columns: repeat(6, 1fr);
						}

						&.size-6 {
							grid-template-columns: repeat(7, 1fr);
						}

						&.size-7 {
							grid-template-columns: repeat(8, 1fr);
						}

						&.size-8 {
							grid-template-columns: repeat(9, 1fr);
						}

						&.size-9 {
							grid-template-columns: repeat(10, 1fr);
						}

						&.size-10 {
							grid-template-columns: repeat(11, 1fr);
						}
					}

					&:after {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}

				div.past-actions {
					div {
						span {
							&.time {

							}

							&.message {

							}
						}
					}
				}
			}
		}
	}
}

@mixin view-3__desktop(){
	
}

@mixin view-3__tablet(){
	
}

@mixin view-3__phone(){
	
}