section#view-2 {
	width: 100%;
	min-height: 100vh;
	background: #0066cc;
	border-top: 1px solid transparent;
	box-sizing: border-box;
	padding: 2rem;
	display: none;

	// problem: content disappers at extreme ratio 30/9
	// solution: code below but introduces vertical align problem when grid is limited by width and not height
	height: auto;

	div.wrapper {
		max-width: 1053px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;

		div.column {
			&.grid {
				margin-right: 2rem;
				width: calc(100vw - 6rem - 240px);
				height: calc(100vw - 6rem - 240px);
				max-width: 700px;
				max-height: 700px;
				min-width: 280px;
				min-height: 280px;
				user-select: none;

				div.game_grid {
					width: 100%;
					height: 100%;
					display: grid;
					grid-gap: 1px;
					background: black;

					div {
						display: flex;
						justify-content: center;
						align-items: center;
						background: white;

						&.grid_guide {

						}

						&.grid_square {

						}
					}

					&.size-5 {
						grid-template-columns: repeat(6, 1fr);
					}

					&.size-6 {
						grid-template-columns: repeat(7, 1fr);
					}

					&.size-7 {
						grid-template-columns: repeat(8, 1fr);
					}

					&.size-8 {
						grid-template-columns: repeat(9, 1fr);
					}

					&.size-9 {
						grid-template-columns: repeat(10, 1fr);
					}

					&.size-10 {
						grid-template-columns: repeat(11, 1fr);
					}
				}
			}

			&.toolbar {
				flex: 0 0 240px;

				h1 {
					margin: 0 0 10px;
					text-align: center;
					font-size: 1.6em;
					width: 100%;
					color: white;
					text-shadow:
						   -1px -1px 0 #000,
							1px -1px 0 #000,
							-1px 1px 0 #000,
							 1px 1px 0 #000;
				}

				div.container__ships {
					background: white;
					border: 1px solid black;
					padding: 10px;

					div.ship {
						line-height: 30px;
						padding: 5px;
						margin: 0 0 5px;
						border: 1px solid black;
						box-sizing: border-box;
						transition: all 0.2s;

						h2 {
							margin: 0 0 5px;
							font-size: 1.1em;
							text-align: center;
						}

						div.ship__container {
							&:before {
								content: attr(data-amount) 'x';
								display: inline;
							}

							&.ship__carrier {
								div.ship__block {
									background: cyan;
								}
							}

							&.ship__battleship {
								div.ship__block {
									background: green;
								}
							}

							&.ship__cruiser {
								div.ship__block {
									background: yellow;
								}
							}

							&.ship__submarine {
								div.ship__block {
									background: orange;
								}
							}

							&.ship__destroyer {
								div.ship__block {
									background: red;
								}
							}
						}

						div.ship__block {
							width: 30px;
							height: 30px;
							border: 1px solid black;
							border-left: 0;
							display: block;
							float: right;

							&:last-child {
								border-left: 1px solid black;
							}
						}

						&.ship__active {
							background: #3390FF;
							color: white;

							div.ship__block {
								border-color: white;
							}

							&:hover {
								background: #3390FF;
								color: white;
							}
						}

						&:hover {
							background: lightblue;
						}

						&:after {
							content: '';
							display: block;
							clear: both;
						}
					}

					button {
						float: right;
						clear: both;
						font-size: 1em;
						margin: 0 0 5px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					&:after {
						clear: both;
						content: '';
						display: block;
					}
				}
			}
		}
	}
}

@mixin view-2__desktop(){

}

@mixin view-2__tablet(){

}

@mixin view-2__phone(){

}

@media (max-aspect-ratio: 9/13) {
	section#view-2 {
		div.wrapper {
			display: block;

			div.column {
				display: block;

				&.grid {
					height: calc(100vw - 4rem);
					margin: 0 0 2rem 0;
					max-width: unset;
					max-height: unset;
					width: 100%;

					table {
						tr {
							th, td {

							}
						}
					}
				}

				&.toolbar {
					width: 100%;
					margin-bottom: 2rem;

					h1 {
						font-size: 1.9em;
					}

					div.container__ships {
						div.ship {
							h2 {
								font-size: 1.6em;
							}
						}

						button {
							width: 100%;
							font-size: 1.8em;
						}
					}
				}
			}
		}
	}
}