section#view-3 {
	width: 100%;
	min-height: 100vh;
	background: #0066cc;
	border-top: 1px solid transparent;
	box-sizing: border-box;
	padding: 2rem;
	display: none;

	div.wrapper {
		max-width: 1053px;
		display: grid;
		grid-template-columns: 6fr 3fr;
		grid-gap: 2rem;
		margin: auto;

		div.column {
			h2 {
				margin: 0 0 10px;
				text-align: center;
				//font-size: 1.6em;
				width: 100%;
				color: white;
				text-shadow:
					   -1px -1px 0 #000,
						1px -1px 0 #000,
						-1px 1px 0 #000,
						 1px 1px 0 #000;
			}

			&.main {
				div.enemy-container {
					user-select: none;
					position: relative;
					width: 100%;

					div.game_grid {
						width: 100%;
						height: 100%;
						display: grid;
						background: black;
						position: absolute;
						box-sizing: border-box;
						border-bottom: 1px solid black;
						border-right: 1px solid black;

						div {
							display: flex;
							justify-content: center;
							align-items: center;
							background: white;
							overflow: hidden;
							border-top: 1px solid black;
							border-left: 1px solid black;

							&.grid_guide {

							}

							&.grid_square {
								position: relative;

								&[data-isHit="true"] {
									&:before {
										background: red;
										content: '';
										display: block;
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										opacity: 1;
										transition: opacity 0.2s;
									}
								}
								
								&[data-isShip="true"] {
									&:before {
										background: blue;
									}
								}
								
								&[data-isShip="5"] {
									background: purple;
								}
								
								&[data-isShip="4"] {
									background: lightblue;
								}
								
								&[data-isShip="3"] {
									background: green;
								}
								
								&[data-isShip="2"] {
									background: yellow;
								}
								
								&[data-isShip="1"] {
									background: orange;
								}
							}
						}

						&.size-5 {
							grid-template-columns: repeat(6, 1fr);
						}

						&.size-6 {
							grid-template-columns: repeat(7, 1fr);
						}

						&.size-7 {
							grid-template-columns: repeat(8, 1fr);
						}

						&.size-8 {
							grid-template-columns: repeat(9, 1fr);
						}

						&.size-9 {
							grid-template-columns: repeat(10, 1fr);
						}

						&.size-10 {
							grid-template-columns: repeat(11, 1fr);
						}
					}

					&:after {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}
			}

			&.sidebar {
				div.player-container {
					user-select: none;
					position: relative;
					width: 100%;
					
					div.game_grid {
						width: 100%;
						height: 100%;
						display: grid;
						background: black;
						position: absolute;
						box-sizing: border-box;
						border-bottom: 1px solid black;
						border-right: 1px solid black;

						div {
							display: flex;
							justify-content: center;
							align-items: center;
							background: white;
							overflow: hidden;
							border-top: 1px solid black;
							border-left: 1px solid black;

							&.grid_guide {

							}

							&.grid_square {
								position: relative;

								&[data-isHit="true"] {
									&:before {
										background: red;

										content: '';
										display: block;
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										opacity: 1;
										transition: opacity 0.2s;
									}

									&:hover:before {
										opacity: 0.5;
									}
								}
								
								&[data-isShip="true"] {
									&:before {
										background: blue;
									}
								}
								
								&[data-isShip="5"] {
									background: purple;
								}
								
								&[data-isShip="4"] {
									background: lightblue;
								}
								
								&[data-isShip="3"] {
									background: green;
								}
								
								&[data-isShip="2"] {
									background: yellow;
								}
								
								&[data-isShip="1"] {
									background: orange;
								}
							}
						}

						&.size-5 {
							grid-template-columns: repeat(6, 1fr);
						}

						&.size-6 {
							grid-template-columns: repeat(7, 1fr);
						}

						&.size-7 {
							grid-template-columns: repeat(8, 1fr);
						}

						&.size-8 {
							grid-template-columns: repeat(9, 1fr);
						}

						&.size-9 {
							grid-template-columns: repeat(10, 1fr);
						}

						&.size-10 {
							grid-template-columns: repeat(11, 1fr);
						}
					}

					&:after {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}

				div.past-actions {
					background: white;
					border: 1px solid black;
					margin-top: 2rem;
					position: relative;
					width: 100%;
					box-sizing: border-box;

					div.actions-wrapper {
						overflow-y: scroll;
						width: 100%;
						height: 100%;
						position: absolute;

						div {
							padding: 5px;
							display: grid;
							grid-template-columns: max-content auto;
							grid-gap: 5px;

							span {
								&.time {
									
								}

								&.message {
									
								}
							}

							&:nth-child(even) {
								background: lightgrey;
							}
						}
					}
					
					&:after {
						content: '';
						display: block;
						padding-bottom: calc(100% - 2rem);
					}
				}
			}
		}
	}
}

@mixin view-3__desktop(){
	
}

@mixin view-3__tablet(){
	
}

@mixin view-3__phone(){
	
}


@media (max-aspect-ratio: 9/13) {
	section#view-3 {
		div.wrapper {
			grid-template-columns: auto;
		}
	}
}