section#view-4 {
	min-width: 350px;
	max-width: 500px;
	width: 100%;
	height: 223px;
	box-sizing: border-box;
	position: absolute;
	top: 40vh;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding: 1.5rem;
	padding-top: 0;
	display: none;

	h2 {

	}

	div.match {
		div.match--stats {
			display: grid;
			grid-template-columns: minmax(95px, 1fr) 1fr 1fr;
			border-bottom: 1px solid black;
			border-right: 1px solid black;

			div {
				padding: 0.25em;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top: 1px solid black;
				border-left: 1px solid black;
			}

			div.static {
				font-weight: bold;
			}

			div.name {

			}

			div.accuracy {

			}

			div.player_1 {

			}

			div.player_2 {

			}
		}
	}

	form {
		label {
			display: block;
			padding: 0.5rem;

			input#submit-stats {
				vertical-align: middle;
			}
		}

		button#continue {

		}
	}

	button#play-again {
		margin-top: 1.8rem;
		display: none;
	}
}

@mixin view-4__desktop(){
	
}

@mixin view-4__tablet(){
	
}

@mixin view-4__phone(){
	
}

@media (max-width: 450px) {
	section#view-4 {
		padding-left: 0;
		padding-right: 0;
		transform: translateY(-50%);
		left: 0;
	}
}