html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans", "Helvetica", sans-serif;
  background: #0066cc;
  min-width: 350px;
}

.no-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999;
  background: rgba(0, 0, 0, 0.7);
}
.no-js div {
  top: 50%;
  left: 10vw;
  position: relative;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: white;
  width: 80vw;
  text-align: center;
}

div#notifications-holder {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: auto;
}
div#notifications-holder div.notification {
  border: 4px solid rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 1.4em;
  margin: 0 10px 10px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}
div#notifications-holder div.notification:hover {
  border-color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.8);
}
div#notifications-holder div.notification.error {
  border-color: rgba(100, 0, 0, 0.5);
  background: rgba(255, 0, 0, 0.5);
}
div#notifications-holder div.notification.error:hover {
  border-color: rgba(100, 0, 0, 0.8);
  background: rgba(255, 0, 0, 0.8);
}
div#notifications-holder div.notification.success {
  border-color: rgba(0, 100, 0, 0.5);
  background: rgba(0, 255, 0, 0.5);
}
div#notifications-holder div.notification.success:hover {
  border-color: rgba(0, 100, 0, 0.8);
  background: rgba(0, 255, 0, 0.8);
}

@keyframes scroll-arrow-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll-arrow-2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes view-1_load {
  0% {
    margin-top: 45vh;
    opacity: 0;
  }
  100% {
    margin-top: 40vh;
    opacity: 1;
  }
}
@keyframes view_unload {
  0% {
    opacity: 1;
    position: absolute;
  }
  100% {
    opacity: 0;
    position: fixed;
  }
}
@keyframes view_load {
  0% {
    opacity: 0;
    position: fixed;
  }
  100% {
    opacity: 1;
    position: absolute;
  }
}
section#view-1 {
  width: 100%;
  height: auto;
  min-height: 100vh;
  text-align: center;
  top: 0;
  left: 0;
  display: none;
}
section#view-1 div#landing {
  width: 100%;
  height: 100vh;
  position: relative;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: 40% 50%;
}
section#view-1 div#landing form {
  width: 340px;
  height: auto;
  border: 1px solid black;
  padding: 1.5em 0;
  box-shadow: 0 0 5px black;
  margin: 40vh auto 0;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  animation-name: view-1_load;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
section#view-1 div#landing form h1 {
  display: block;
  margin: 0;
}
section#view-1 div#landing form label {
  display: block;
  margin-top: 10px;
}
section#view-1 div#landing form label span:after {
  content: ":";
  display: inline;
}
section#view-1 div#landing form label input#grid-size {
  width: 2.5em;
}
section#view-1 div#landing form label input#player-name {
  width: 10em;
}
section#view-1 div#landing form button {
  margin-top: 10px;
}
section#view-1 div#landing div {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}
section#view-1 div#landing div a.scroll-arrow {
  margin: 5px auto 0;
  width: 13px;
  position: relative;
  display: block;
}
section#view-1 div#landing div a.scroll-arrow:before, section#view-1 div#landing div a.scroll-arrow:after {
  content: "";
  display: block;
  position: relative;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  animation-name: scroll-arrow-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
section#view-1 div#landing div a.scroll-arrow:after {
  margin-top: -4px;
  animation-name: scroll-arrow-2;
}
section#view-1 div#stats {
  width: 100%;
  height: 100vh;
  position: relative;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  padding: 6rem 2rem 2rem;
  background: #0066cc;
}
section#view-1 div#stats h2 {
  position: absolute;
  top: 2rem;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  width: 100%;
}
section#view-1 div#stats div.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  height: 100%;
  border: 1px solid black;
  overflow: auto;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0 5px black;
}
section#view-1 div#stats div.container table {
  background: white;
  width: 100%;
  border-bottom: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}
section#view-1 div#stats div.container table tr {
  width: 100%;
}
section#view-1 div#stats div.container table tr.header th {
  border: 1px solid black;
}
section#view-1 div#stats div.container table tr.header th h3 {
  margin: 0.5em;
}
section#view-1 div#stats div.container table tr.name th, section#view-1 div#stats div.container table tr.name td, section#view-1 div#stats div.container table tr.accuracy th, section#view-1 div#stats div.container table tr.accuracy td {
  padding: 0.25em 0 0.25em;
  border: 1px solid black;
  vertical-align: middle;
}
section#view-1 div#stats div.container table.player {
  background: #4cff4c;
}
section#view-1 div#stats div.container table.computer {
  background: #ff4c4c;
}

section#view-2 {
  width: 100%;
  background: #0066cc;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  padding: 2rem;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: auto;
}
section#view-2 div.wrapper {
  max-width: 1053px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
section#view-2 div.wrapper div.column.grid {
  margin-right: 2rem;
  width: calc(100vw - 6rem - 240px);
  height: calc(100vw - 6rem - 240px);
  max-width: 700px;
  max-height: 700px;
  min-width: 280px;
  min-height: 280px;
  user-select: none;
}
section#view-2 div.wrapper div.column.grid table {
  background: white;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
section#view-2 div.wrapper div.column.grid table tr th, section#view-2 div.wrapper div.column.grid table tr td {
  border: 1px solid black;
}
section#view-2 div.wrapper div.column.toolbar {
  flex: 0 0 240px;
}
section#view-2 div.wrapper div.column.toolbar h1 {
  margin: 0 0 10px;
  text-align: center;
  font-size: 1.6em;
  width: 100%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships {
  background: white;
  border: 1px solid black;
  padding: 10px;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship {
  line-height: 30px;
  padding: 5px;
  margin: 0 0 5px;
  border: 1px solid black;
  box-sizing: border-box;
  transition: all 0.2s;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship h2 {
  margin: 0 0 5px;
  font-size: 1.1em;
  text-align: center;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__container:before {
  content: attr(data-amount) "x";
  display: inline;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__container.ship__carrier div.ship__block {
  background: cyan;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__container.ship__battleship div.ship__block {
  background: green;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__container.ship__cruiser div.ship__block {
  background: yellow;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__container.ship__submarine div.ship__block {
  background: orange;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__container.ship__destroyer div.ship__block {
  background: red;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__block {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-left: 0;
  display: block;
  float: right;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship div.ship__block:last-child {
  border-left: 1px solid black;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship.ship__active {
  background: #3390FF;
  color: white;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship.ship__active div.ship__block {
  border-color: white;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship.ship__active:hover {
  background: #3390FF;
  color: white;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship:hover {
  background: lightblue;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship:after {
  content: "";
  display: block;
  clear: both;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships button {
  float: right;
  clear: both;
  font-size: 1em;
  margin: 0 0 5px;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships button:last-child {
  margin-bottom: 0;
}
section#view-2 div.wrapper div.column.toolbar div.container__ships:after {
  clear: both;
  content: "";
  display: block;
}

@media (max-aspect-ratio: 9/13) {
  section#view-2 div.wrapper {
    display: block;
  }
  section#view-2 div.wrapper div.column {
    display: block;
  }
  section#view-2 div.wrapper div.column.grid {
    height: calc(100vw - 4rem);
    margin: 0 0 2rem 0;
    max-width: unset;
    max-height: unset;
    width: 100%;
  }
  section#view-2 div.wrapper div.column.toolbar {
    width: 100%;
    margin-bottom: 2rem;
  }
  section#view-2 div.wrapper div.column.toolbar h1 {
    font-size: 1.9em;
  }
  section#view-2 div.wrapper div.column.toolbar div.container__ships div.ship h2 {
    font-size: 1.6em;
  }
  section#view-2 div.wrapper div.column.toolbar div.container__ships button {
    width: 100%;
    font-size: 1.8em;
  }
}
section#view-3 {
  width: 100%;
  min-height: 100vh;
  background: #0066cc;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  padding: 2rem;
  top: 0;
  left: 0;
}
section#view-3 div.wrapper {
  display: grid;
  grid-template-columns: 13fr 7fr;
  grid-column-gap: 2rem;
}
section#view-3 div.wrapper div.column h2 {
  margin: 0 0 10px;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
section#view-3 div.wrapper div.column.main div.enemy-container {
  user-select: none;
  position: relative;
  width: 100%;
}
section#view-3 div.wrapper div.column.main div.enemy-container table {
  background: white;
  border-collapse: collapse;
  table-layout: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
}
section#view-3 div.wrapper div.column.main div.enemy-container table tr th, section#view-3 div.wrapper div.column.main div.enemy-container table tr td {
  border: 1px solid black;
}
section#view-3 div.wrapper div.column.main div.enemy-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
section#view-3 div.wrapper div.column.sidebar div.player-container {
  user-select: none;
  position: relative;
  width: 100%;
}
section#view-3 div.wrapper div.column.sidebar div.player-container table {
  background: white;
  border-collapse: collapse;
  table-layout: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
}
section#view-3 div.wrapper div.column.sidebar div.player-container table tr th, section#view-3 div.wrapper div.column.sidebar div.player-container table tr td {
  border: 1px solid black;
}
section#view-3 div.wrapper div.column.sidebar div.player-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/*# sourceMappingURL=main.css.map */
